In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/raw/Avaliacao_Mensal_Funcionarios.csv")
df.head()

,Cargo,Setor,Salário Bruto,Tipo de Contratação,Carga Horária por dia,Formação,Idade,NPS interno,Tempo de empresa
0,Cientista de Dados,Dados,6000,CLT,8,Bacharel,24,9,4.0
1,Cientista de Dados,Dados,6500,CLT,8,Bacharel,26,"9,6",3.0
2,Analista de Dados,Dados,5000,CLT,8,Bacharel,29,8,2.0
3,Analista de Dados,Dados,5800,CLT,8,Bacharel,36,9,4.0
4,Analista de Dados,Dados,7000,CLT,8,Bacharel,32,"9,4",3.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cargo                  90 non-null     object
 1   Setor                  90 non-null     object
 2   Salário Bruto          90 non-null     int64
 3   Tipo de Contratação    90 non-null     object
 4   Carga Horária por dia  90 non-null     int64
 5   Formação               90 non-null     object
 6   Idade                  90 non-null     int64
 7   NPS interno            90 non-null     float64
 8   Tempo de empresa       88 non-null     float64
dtypes: float64(2), int64(3), object(4)
memory usage: 6.5+ KB

In [3]:
df['NPS interno'] = df['NPS interno'].str.replace(",", ".").astype("float")